# Ignore all Python and Jupyter cache files
.ipynb_checkpoints
__pycache__

# Keep all default directories
!.gitkeep

# Ignore all scraper output
scrape/data/*

# Ignore all watermark images
watermark/input/*
watermark/output/*
watermark/invalid/*